<div>
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <!-- <div class="container">
      <div class="content-center" *ngIf="auth.user | async as user">
        <div class="photo-container">
          <img [src]="user.photoURL" alt="">
        </div>
        <h3 class="title">{{ user.displayName }}</h3>
        <p class="category">UID: {{ user.uid }}</p>
        <div class="content">
        </div>
      </div>
    </div> -->
  </div>
  <form class="col-sm-6 col-lg-4" style="margin-top: 40px; margin-bottom: 80px; margin-left: 100px;">
    <div class="container">
      <label for="exampleInputEmail1">Title</label>
      <input type="text" class="form-control" aria-describedby="Girth class(m)" placeholder="Girth class(m)">
      <small id="emailHelp" class="form-text text-muted">How its appear in the first column</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">1.36 & Above</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">1.34 - 1.12</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">1.10 - 1.00</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">0.98 - 0.82</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">0.80 - 0.64</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">0.62 - 0.48</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">0.46 & Below</label>
      <span>
        <input type="text" class="form">
      </span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="submit" class="btn btn-warning">Cancel</button>
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
</div>