<div>
  <div class="page-header page-header-small" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/bg5.jpg') ;">
    </div>
    <!-- <div class="container">
      <div class="content-center" *ngIf="auth.user | async as user">
        <div class="photo-container">
          <img [src]="user.photoURL" alt="">
        </div>
        <h3 class="title">{{ user.displayName }}</h3>
        <p class="category">UID: {{ user.uid }}</p>
        <div class="content">
        </div>
      </div>
    </div> -->
  </div>
  <div class="container">
    <form [formGroup]="priceListForm" (ngSubmit)="onSubmit" style="margin-top: 40px; margin-bottom: 80px; margin-left: 50px;">
      <div>
        <p><strong>Classification Type</strong>
          <input type="text" formControlName="class" style="margin-left: 48px;" />
        </p>
        <br>
        <p><strong>Girth class(m)</strong>
          <input type="text" placeholder="1.22 & Above" style="margin-left: 84px;" />
          <input type="text" placeholder="1.34 - 1.12" style="margin-left: 10px;" />
          <input type="text" placeholder="1.10 - 1.00" style="margin-left: 10px;" />
          <input type="text" placeholder="0.98 - 0.82" style="margin-left: 10px;" />
          <input type="text" placeholder="0.80 - 0.64" style="margin-left: 10px;" />
          <input type="text" placeholder="0.62 - 0.48" style="margin-left: 10px;" />
          <input type="text" placeholder="0.46 & Below" style="margin-left: 10px;" />
        </p>
        <p>Avg.Selling price(Rs./m<sup>3</sup>)
          <input type="text" style="margin-left: 13px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Operation Cost(Rs.)
          <input type="text" style="margin-left: 48px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Other Costs(Rs.)
          <input type="text" style="margin-left: 71px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Overhead Cost(Rs./m<sup>3</sup>)
          <input type="text" style="margin-left: 25px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Stumpage value(Rs./m<sup>3</sup>)
          <input type="text" style="margin-left: 13px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Profit(Rs./m<sup>3</sup>)
          <input type="text" style="margin-left: 89px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
        <p>Stumpage%
          <input type="text" style="margin-left: 96px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
          <input type="text" style="margin-left: 10px;" />
        </p>
      </div>

      <button type="submit" class="btn btn-success">Save</button>
      <button class="btn btn-warning" routerLink="/price-list">Cancel</button>
      <button class="btn btn-danger">Delete</button>
    </form>
  </div>
</div>